# Byte-compiled / optimized / DLL files
__pycache__/

# Terraform backup and internal cache
*.tfstate*
*.terraform

# Lambda packages
lambda_*.zip

# Virtualenv
venv/

# Compiled YARA rules
compiled_yara_rules.bin

# IDE
.idea/

# Coverage
.coverage

# MacOS artifacts
Thumbs.db
.DS_Store
*.swp
terminal.glue
