setuptools_rust
alabaster
asn1crypto
astroid
attrdict
Babel
bandit==1.5.1
boto3
botocore
cachetools
cbapi
certifi
cffi
chardet
coverage
coveralls
cryptography>3.2
docopt
docutils
futures==3.1.1
gitdb2
GitPython
idna
imagesize
isort
Jinja2
jmespath
lazy-object-proxy
MarkupSafe
mccabe
mypy
mypy-extensions
packaging
pbr
pika
ply
prompt-toolkit
protobuf
pycparser
pyfakefs
Pygments
pyhcl
pylint
pyOpenSSL
pyparsing
python-dateutil
pytz
PyYAML
s3transfer
six
smmap2
snowballstemmer
Sphinx
sphinx-rtd-theme
sphinxcontrib-websupport
stevedore
typed-ast
urllib3
wcwidth
wrapt
wheel
yara-python==3.8.0
requests
