alabaster==0.7.12
asn1crypto==1.4.0
astroid==2.4.2
attrdict==2.0.1
Babel==2.9.0
bandit==1.7.0
boto3==1.16.59
botocore==1.19.59
cachetools==4.2.1
cbapi==1.7.3
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
coverage==5.4
coveralls==3.0.0
cryptography==3.3.1
decorator==4.4.2
docopt==0.6.2
docutils==0.16
futures==3.1.1
gitdb==4.0.5
gitdb2==4.0.2
GitPython==3.1.12
idna==2.5
imagesize==1.2.0
importlib-metadata==3.4.0
isort==5.7.0
Jinja2==2.11.2
jmespath==0.10.0
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
mypy==0.800
mypy-extensions==0.4.3
packaging==20.8
pbr==5.5.1
pika==1.1.0
ply==3.11
prompt-toolkit==3.0.14
protobuf==3.14.0
pycparser==2.20
pyfakefs==4.3.3
Pygments==2.7.4
pyhcl==0.4.4
pylint==2.6.0
pyOpenSSL==20.0.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.5
PyYAML==5.4.1
requests==2.25.1
s3transfer==0.3.4
six==1.15.0
smmap==3.0.1
smmap2==3.0.1
snowballstemmer==2.1.0
solrq==1.1.1
Sphinx==3.4.3
sphinx-rtd-theme==0.5.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport==1.2.4
stevedore==3.3.0
toml==0.10.2
typed-ast==1.4.2
typing-extensions==3.7.4.3
urllib3==1.25.4
validators==0.18.2
wcwidth==0.2.5
wrapt==1.12.1
yara-python==4.0.2
zipp==3.4.0
